@tailwind base;
@tailwind components;
@tailwind utilities;

.lineEffect::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4px;
  width: 100%;
  height: 2px;
  transition: 0.4s width linear;
}

.lineEffect:hover::after {
  width: 0;
}

.gradient {
  background: linear-gradient(
    45deg,
    #44ff9a -0.55%,
    #44b0ff 22.86%,
    #8b44ff 48.36%,
    #ff6644 73.33%,
    #ebff70 99.34%
  );
}
